extends layout

block main
    link(rel='stylesheet', href='stylesheets/page_css/apply.css')
    link(rel='stylesheet', href='stylesheets/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/customized.css')
    link(rel='stylesheet', href='stylesheets/ui.css')
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/jquery-ui.cache.js')
    script(src='javascripts/page_js/apply.js')
    script(src='javascripts/plugins.js')
    //- script(src='javascripts/layer/layer.js')
    div
      #manager_top.panel(style='border:2px solid black;')
        div(style='text-align: center;')
          | 申請課程專區
          i.fa.fa-filter
      #manager_center.panel(style='border:2px solid black;')
        .row
          .col-lg-12
            .form-group
              .row
                .col-md-12
                  div(style='margin: 20px 20px 20px 20px;overflow-x:hidden;')
                    .row
                      .col-md-12(style='height:40px;')
                        font#todayTime 今天時間：
                      #lessonForm.col-md-12(style='height:525px;')
                        .form-group
                          .row
                            .col-md-12
                              div(style='margin:20px 10%;')
                                .row
                                  .col-md-5.form-group.form_name.form
                                    i.fa.fa-child(style='font-size:20px;')
                                    | 課程名稱:
                                    input#lessonName.form-control(type='text', placeholder='請填入課程名稱', name='lessonName')
                                  .col-md-5.form-group.form_time.form
                                    | 上課時間:
                                    input#lessonTime.date-picker.form-control(type='text', placeholder='請選擇時間', name='lessonTime')
                              div(style='margin:0 10% 20px;')
                                .row
                                  .col-md-5.form-group.form_class.form
                                    | 使用教室:
                                    select#lessonBuilding.form-control(name='lessonBuilding')
                                      option(value='請選擇') 請選擇
                                      option(value='環球') 環球
                                      option(value='里仁') 里仁
                                      option(value='學苑') 學苑
                                    select#lessonFloor.form-control(disabled='disabled', name='lessonFloor')
                                    select#lessonClass.form-control(disabled='disabled', name='lessonClass')
                                  .col-md-5.form-group.form_period.form
                                    | 上課時段:
                                    br
                                    select#lessonPeriod.form-control(name='lessonPeriod')
                                      option(value='請選擇', selected="selected") 請選擇
                                      option(value='A1') A1 (09:15 ~ 11:45)
                                      option(value='A2') A2 (11:45 ~ 13:15)
                                      option(value='P1') P1 (13:15 ~ 15:45)
                                      option(value='P2') P2 (16:00 ~ 18:00)
                                      option(value='P3') P3 (19:00 ~ 21:30)
                                  .col-md-5.form-group.form_people.form
                                    | 上課人數:
                                    input#lessonPeople.form-control(type='text', placeholder='請填入上課人數', name='lessonPeople')
                              div(style='margin:0 10% 0px;')
                                .row
                                  .col-md-5.form-group.form_detailName.form
                                    | 聯絡人姓名
                                    input#detailContract.form-control(type='text', placeholder='請填入聯絡人姓名')
                                  .col-md-5.form-group.form_detailPhone.form
                                    | 聯絡人電話
                                    input#detailPhone.form-control(type='text', placeholder='請填入聯絡人電話')
                              div(style='margin:0 10% 0px;')
                                .row
                                  .col-md-10.form-group.form_note.form
                                    i.fa.fa-comments(aria-hidden='true', style='font-size:20px;')
                                    | 申請事由:
                                    textarea#lessonNote.form-control(rows='4', placeholder='申請事由...', name='lessonNote')
                        .modal-footer
                          input#btnSubmit.btn.btn-primary(type='button', value='確定')
                          input#btnCancel.btn.btn-default(type='button', value='取消')
