doctype html
html
  head
    meta(charset='utf-8')
    // CSS
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/page_css/login.css')
    // Javascript
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/page_js/login.js')
    script(src='javascripts/layer/layer.js')
    // 彈出視窗
    title 忘記密碼
  body
    #main.well.well-lg(align='center')
      label#title
        b#index(title='Copyright © 2016 福智 All rights reserved')
          img(src='images/open-book.png')
          |  福智基金會
      br
      ul#myTab.nav.nav-tabs
        li.active
          a(href='#user') 忘記/更改密碼
        //- li
        //-   a(href='/?identity=visitor') 直接登入
      .tab-content
        // 使用者登入
        #user.tab-pane.active
          br
          form(action='/login', method='post')
            table
              //- tr
              //-   td(align='center')
              //-     img.img-circle(src='images/user.png')
              //-   input(type='hidden', name='identity', value='user')
            
              tr
                td
                  b 您的帳號
              tr
                td
                  input#account.form-control(type='text', placeholder='請輸入帳號', name='account')
              tr
                td
                  b 您的信箱
              tr
                td
                  input#mail.form-control(type='text', placeholder='請輸入身分證', name='password')
              tr
                td
                  b 您的電話
              tr
                td
                  input#phone.form-control(type='text', placeholder='請輸入電話', name='password')
              tr
                td
                  b 新密碼
              tr
                td
                  input#phone.form-control(type='password', placeholder='請輸入新密碼', name='password')
              tr
                td
                  b 確認新密碼
              tr
                td
                  input#phone.form-control(type='password', placeholder='請輸入確認新密碼', name='password')
              tr
                td
                  br
                  b 驗證碼
                  input.form-control.input-sm.currentNum(type='text')
                  br
                  .check_img(style='float:left;')
                  img.reload(src='images/reload.png', style='margin-left:10px;cursor:pointer;', title='重新產生')
              tr
                td
                  
              tr
                td
                  input.btn.btn-primary.chk(type='submit', value='更改密碼', style='margin-top:15px;width:250px;')
