extends layout

block main
    script.
      //驗證身分
      var identity = (location.search.substr(1)).split('=');
      $.ajax({
        type:'post',
        url:'/getAccountSession',
        success:function(datas)
        {
          var data = datas.success
          if ((data == undefined) && (identity[0] != 'identity') || (data != undefined) && (identity[0] == 'identity'))
          {
            location.href="/";
          }
        }
      })
    link(rel='stylesheet', href='stylesheets/page_css/index.css')
    script(src='javascripts/page_js/index.js')
      
    //owl 輪播
    link(href='stylesheets/owl/owl.carousel.min.css', rel="stylesheet")
    link(href="stylesheets/owl/owl.theme.default.min.css", rel="stylesheet")
    script(src='javascripts/owl/owl.carousel.min.js')
    //時間
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/jquery-ui.cache.js')
    script(src='javascripts/plugins.js')
  
    input#welcome(type='hidden', value="<div style='margin:15px;'><span class='fui-user'></span>#{user}，歡迎進入福智基金會網站。<br/><br/><br/><br/><br/></div>", <='', body='')
    
    
    div#opacityDiv
      //- .owl-carousel
      //-   .item
      //-     img(src='images/01.jpg')
      //-   .item
      //-     img(src='images/02.jpg')
      //-   .item
      //-     img(src='images/03.jpg') 
      

      .panel-header.table-responsive(style='padding: 20px 20px;')
        .row
          .col-lg-12
            .row
              .col-md-3
                marquee(direction='up',style='height:500px;width:250px;')
                  div
                    img(alumb='true',_w="300",_h="300",src='images/01.jpg',onclick='window.open("images/01.jpg","_blank")') 
                    img(alumb='true',_w="300",_h="300",src='images/02.jpg',onclick='window.open("images/02.jpg","_blank")')
                    img(alumb='true',_w="300",_h="300",src='images/03.jpg',onclick='window.open("images/03.jpg","_blank")')  
                  div
                    img(alumb='true',_w="300",_h="300",src='images/04.jpg',onclick='window.open("images/04.jpg","_blank")')  
                    img(alumb='true',_w="300",_h="300",src='images/03.jpg',onclick='window.open("images/03.jpg","_blank")')
                    img(alumb='true',_w="300",_h="300",src='images/02.jpg',onclick='window.open("images/02.jpg","_blank")')  
              .col-md-9
                h4
                  i.fa.fa-bookmark
                  strong 今日課表
                  
                //- table.table.table-condensed(style='width:100%;')
                //-   tr
                //-     th 日期
                //-     th
                //-       input#filterTime.date-picker.form-control(type='text', placeholder='請選擇時間', name='lessonTime')
                //-     th 地點
                //-     th
                //-       select#filterLocation.form-control(name='lessonBuilding')
                //-               
                //-   tr(style='border:0px solid #eee;')
                //-     th(colspan='4')
                //-       button#cancelFilter.btn.btn-default.btn-embossed(type='button') 清除
                //-       button#btnFilter.btn.btn-primary.btn-embossed(type='button') 查詢

                  
                table.table.table-bordered#todayLessonList
                  thead
                    tr
                      th(width='5%') #
                      th(width='30%', style='border-left:1px #ddd solid;') 課程名稱
                      th(width='15%', style='border-left:1px #ddd solid;') 使用教室
                      th(width='15%', style='border-left:1px #ddd solid;') 時間 - 時段
                      th(width='15%', style='border-left:1px #ddd solid;') 詳細資料
                  tbody
