extends layout

block main
  style.
    .wrapper {
    height: 250px;
    background-color: #9096A6;
    text-align: center;
    }
    .wrapper:before {
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    }
    .center {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 120px;
    background-color:black;
    }
    div
      | 個人資訊
    .wrapper
      .center
