doctype html
html
  head
    meta(charset='utf-8')
    // CSS
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/page_css/layout.css')
    // Loading Flat UI
    link(href='stylesheets/flat-ui/dist/css/flat-ui.css', rel='stylesheet')
    link(href='stylesheets/flat-ui/docs/assets/css/demo.css', rel='stylesheet')
    //icheck
    link(rel='stylesheet', href='stylesheets/icheck/blue.css')
    //font-awesome
    link(href='stylesheets/font-awesome/font-awesome.css', rel='stylesheet')
    // bootcss
    link(href='stylesheets/bootcss.css', rel='stylesheet')
    //owl 輪播
    link(href='stylesheets/owl/owl.carousel.min.css', rel="stylesheet")
    link(href="stylesheets/owl/owl.theme.default.min.css", rel="stylesheet")
    // Javascript
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/location.js')
    script(src='javascripts/owl/owl.carousel.min.js')
    script(src='javascripts/icheck.js')
    script(src='javascripts/layer/layer.js')
    
    //bootbox
    script(src='javascripts/bootbox/bootbox.min.js')
    link(rel='stylesheet', href='stylesheets/ui.css')
    //page_js
    script(src='javascripts/page_js/layout.js')

    
      
    // 彈出視窗
    title 福智基金會
  body(background='images/bgimage.jpg')
    #page
      #header
        #admin_hide.nav.navbar-nav
        #title
          b#index(title='Copyright © 2016 福智 All rights reserved')
            a(href='/')
              img(src='images/open-book.png')
              |  福智基金會
        #mainDropdown
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(style='font-size:18px;', data-toggle='dropdown')
                | 課程查詢
                b.caret
              ul.dropdown-menu
                li
                  a#lesson_time(style='font-size:15px;')
                    img(src='images/time.png')
                    |    時段查詢
                li
                  a#lesson_place(style='font-size:15px;')
                    img(src='images/place.png')
                    |    地點查詢
                li
                  a#lesson_name(style='font-size:15px;')
                    img(src='images/lesson.png')
                    |    課程查詢
          if user && (information[0].authorty != 'User')
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(style='font-size:18px;', data-toggle='dropdown')
                  | 管理專區
                  b.caret
                ul.dropdown-menu
                  if user && (information[0].authorty == 'Admin')
                    li
                      a#lesson_time(onclick='userManage();', style='font-size:15px;')
                        img(src='images/time.png')
                        |    使用者管理
                    li
                      a#lesson_time(onclick='lessonIDManage();', style='font-size:15px;')
                        img(src='images/time.png')
                        |    課程管理
                    li
                      a#lesson_time(onclick='positionManage();', style='font-size:15px;')
                        img(src='images/time.png')
                        |    場地管理                          
                  li
                    a#lesson_time(onclick='audit();', style='font-size:15px;')
                      img(src='images/time.png')
                      | 審核專區
          if user
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(style='font-size:18px;', data-toggle='dropdown')
                  | 申請服務
                  b.caret
                ul.dropdown-menu
                  li
                    a#lesson_time(onclick='manage();' style='font-size:15px;')
                      img(src='images/time.png')
                      | 申請常態課程
                  li
                    a#lesson_time(onclick='apply();', style='font-size:15px;')
                      img(src='images/time.png')
                      | 申請使用單次教室
                  li
                    a#lesson_time(onclick='lesson();', style='font-size:15px;')
                      img(src='images/time.png')
                      | 申請資料
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(style='font-size:18px;', data-toggle='dropdown')
                | 其他資訊
                b.caret
              ul.dropdown-menu
                if user
                  li
                    a#opinion(onclick='feedback()' style='font-size:15px;')
                      img(src='images/opinion.png')
                      |    意見回饋
                li
                  a(style='font-size:15px;')
                    img(src='images/contact.png')
                    |    聯絡我們
        #admin_authority
          ul.nav.navbar-nav
            li.dropdown
              a.dropdown-toggle(style='font-size:20px;cursor:pointer;', data-toggle='dropdown')
                span.fui-list
              ul.dropdown-menu
                if user
                  li
                    a.dropdown-toggle(style='font-size:15px;', data-toggle='dropdown') ID:#{user}
                  li
                    a.dropdown-toggle(style='font-size:15px;', data-toggle='dropdown')  登入紀錄
                  li
                    a.dropdown-toggle(onclick='information();', style='font-size:15px;', data-toggle='dropdown')  個人資訊
                  li
                    a.dropdown-toggle(onclick='logout();', style='font-size:15px;', data-toggle='dropdown')  登出
                else
                  li
                    a.dropdown-toggle(onclick='login();', style='font-size:15px', data-toggle='dropdown')  登入
                  li
                    a.dropdown-toggle(onclick='signin();', style='font-size:15px', data-toggle='dropdown')  註冊
                li
                  a.dropdown-toggle(style='font-size:15px;', data-toggle='dropdown')  使用說明
                li
                  a#question.dropdown-toggle(style='font-size:15px;', data-toggle='dropdown')  回報問題
        #message
          if user
            input#hiddenIdentity(type='hidden',value='#{user}')
            |Hi~ 
            font#user #{user}
            font#time.label.label-default(style='margin-left:10px;') 
          else
            font#time Hi~ 訪客
      #main
        block main
                  
      #footer
        #footer-context
          span
            b 電話:04-23445567
          br
          span
            b 福智基金會  聯絡地址:台中市台灣大道一段XXX號     
            em
              b Copyright © 2016 福智 All rights reserved
          span(style='float:right;')
            a(href='http://www.blisswisdom.org/', target='_blank') 福智全球資訊網
            b |
            a(href='http://bwsangha.org/', target='_blank') 福智僧團全球資訊網
            b |
            a(href='http://lrannotations.org/', target='_blank') 《廣論．四家合註》淺釋
            b |
          br
          span
          br
    #goTop
      img#top(src='images/up.png')
  
