extends layout
block main
    link(rel='stylesheet', href='stylesheets/page_css/lessonManage.css')
    //- link(rel='stylesheet', href='stylesheets/css/font-awesome.min.css')
    //- link(rel='stylesheet', href='stylesheets/customized.css')
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/jquery-ui.cache.js')
    script(src='javascripts/page_js/lessonNormalManage.js')
    script(src='javascripts/plugins.js')

    #manager_center.panel
      .row
        .col-lg-12
          .form-group
            .row
              .col-md-12
                div(style='text-align: center;')   
                  h3
                    i.fa.fa-file-o                  
                    strong(style='margin-left:5px;') 申請常態課程
                  br
                table.table.table-condensed
                  tr
                    th 大樓
                    th
                      select#filterBuilding.form-control
                        option(value='請選擇') 請選擇
                    th 樓層
                    th
                      select#filterFloor.form-control
                        option(value='請選擇') 請選擇
                    th 教室
                    th
                      select#filterClass.form-control
                        option(value='請選擇') 請選擇
              
                    th 時段
                    th
                      select#filterTimeZone.form-control
                        option(value='請選擇') 請選擇
                        option(value='時段一') 時段一
                        option(value='時段二') 時段二
                        option(value='時段三') 時段三
                        option(value='時段四') 時段四
                        option(value='時段五') 時段五
                  tr
                    th(colspan='8')
                      button#cancelFilter.btn.btn-default.btn-embossed(type='button') 清除
                      button#btnFilter.btn.btn-primary.btn-embossed(type='button') 查詢

              .col-md-12
                div(style='margin: 20px 20px 20px 20px;overflow-y:scroll;overflow-x:hidden;')
                  .row
                    .col-md-12(style='height:50px;')
                      button.btn.btn-success.btn-embossed.new(style='float:right;margin-top:0px;') 新增課程
                      
                    .col-md-12(style='height:400px;')
                      table#lessonList.table.table-condensed
                        tr
                          th(width='5%') #
                          th(width='45%', style='border-left:1px #ddd solid;') 課程名稱
                          th(width='15%', style='border-left:1px #ddd solid;') 使用教室
                          th(width='15%', style='border-left:1px #ddd solid;') 時間 - 時段
                        tbody#lesson
                        tr#nobodyList(align='center')
                          td(colspan='4')
                            br
                            span#new.new(style='cursor:pointer;')
                              i.fa.fa-plus-circle.fa-3x
                              br
                              | 新增課程
              .col-md-12
                .paginationWrap.pagesCenter
                  nav
                    ul#pageList.pagination
                      li
                        a(href='#') 第一頁
                      li
                        a(href='#', onclick='return false;')
                          span(aria-hidden='true') 
                          span.sr-only Previous
                      li
                        a(href='#') 1
                      li
                        a(href='#') 2
                      li
                        a(href='#') 3
                      li
                        a(href='#') 4
                      li
                        a(href='#') 5
                      li
                        a(href='#') 6
                      li
                        a(href='#') 7
                      li
                        a(href='#') 8
                      li
                        a(href='#') 9
                      li
                        a(href='#') 10
                      li
                        a(href='#', onclick='return false;')
                          span(aria-hidden='true') »
                          span.sr-only Next
                      li
                        a(href='#', onclick='return false;') 尾頁
    #manager_right
    #lessonDetail.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              i.icons-office-52
            h4.modal-title
              strong#detailName
          .modal-body
            table.table.table-hover
              tr
                th #
                th 課程名稱
                th 課程時數
                th 使用教室
                th 上課時段
                th 備註
                th
              tbody#detailData
    // 彈跳視窗 新增課程
    #bounce_lesson.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header.bg-blue
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              i.fa.fa-times-circle(style='font-size:20px;color:white;')
            font(style='font-size:18px;font-weight:bold;') 新增課程
          .modal-body(align='left', style='height:520px;overflow-y:scroll;')
            .form-group
              .row
                .col-md-12
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_name.form
                        i.fa.fa-child(style='font-size:20px;')
                        | 課程名稱
                        input#lessonName.form-control(type='text', placeholder='請填入課程名稱', name='lessonName')
                      .col-md-6.form-group.form_count.form
                        | 課程堂數
                        input#lessonCount.form-control(type='text', placeholder='請填入(限阿拉伯數字)', name='lessonCount')
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_class.form
                        | 使用教室
                        select#lessonBuilding.form-control(name='lessonBuilding')
                        select#lessonFloor.form-control(name='lessonFloor')
                        select#lessonClass.form-control(name='lessonClass')
                      .col-md-6.form-group.form_time.form
                        | 開始上課時間
                        input#lessonTime.date-picker.form-control(type='text', placeholder='開始時間', name='lessonTime')
                      .col-md-6.form-group.form_period.form
                        | 上課時段
                        br
                        select#lessonPeriod.form-control(name='lessonPeriod')
                          option(value='請選擇', selected="selected") 請選擇
                          option(value='A1') A1 (09:15 ~ 11:45)
                          option(value='A2') A2 (11:45 ~ 13:15)
                          option(value='P1') P1 (13:15 ~ 15:45)
                          option(value='P2') P2 (16:00 ~ 18:00)
                          option(value='P3') P3 (19:00 ~ 21:30)
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group.form_people.form
                        | 上課人數(請先選擇使用教室)
                        input#lessonPeople.form-control(type='text', placeholder='請填入上課人數', name='lessonPeople',disabled)
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_detailName.form
                        | 聯絡人姓名
                        input#detailContract.form-control(type='text', placeholder='請填入聯絡人姓名')
                      .col-md-6.form-group.form_detailPhone.form
                        | 聯絡人電話
                        input#detailPhone.form-control(type='text', placeholder='請填入聯絡人電話')                
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group.form_note.form
                        i.fa.fa-comments(aria-hidden='true', style='font-size:20px;')
                        | 備註:
                        textarea#lessonNote.form-control(rows='4', placeholder='您想說甚麼...', name='lessonNote')
          .modal-footer
            input#btnSubmit.btn.btn-primary.btn-embossed(type='button', value='確定')
            button#btnCancel.btn.btn-default.btn-embossed 取消
            
    input#hiddenPositionData(type='hidden', value='')
    
