extends layout

block main
    link(rel='stylesheet', href='stylesheets/page_css/lessonIDManage.css')
    //- link(rel='stylesheet', href='stylesheets/css/font-awesome.min.css')
    link(rel='stylesheet', href='stylesheets/customized1.css')
    link(rel='stylesheet', href='stylesheets/ui.css')
    //- script(src='javascripts/page_js/lessonIDManage.js')
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/jquery-ui.cache.js')
    script(src='javascripts/plugins.js')
      
    
    
    script(src='javascripts/page_js/lessonManage.js')
    
    
    div      
      #manager_center.panel
        div(style='text-align: center;')   
          h3
            i.fa.fa-book                           
            strong(style='margin-left:5px;') 課程管理
          br
        ul#myTab.nav.nav-tabs(style='padding:0px 0px 0px 10px;')
          li.active
            a#tab1(href='#lessonManage',data-toggle='tab') 課程細節
          li
            a#tab2(href='#lessonIDManage',data-toggle='tab') 課程聯絡
        .tab-content
          //- 課程細節 
          div.tab-pane.fade.in.active.row#lessonManage
            .col-lg-12
              .form-group
                .row
                  .col-md-12
                    div(style='margin: 20px 20px 20px 20px;overflow-y:scroll;overflow-x:hidden;')
                      .row
                        .col-md-12(style='height:500px;')
                          //- table.table.table-condensed
                          //-   tr
                          //-     th 地點
                          //-     th
                          //-       select#filterLocal.form-control
                          //-         option(value='請選擇') 請選擇
                          //-     th 教室
                          //-     th
                          //-       select#filterClass.form-control
                          //-         option(value='請選擇') 請選擇
                          //-         option(value='教室一') 教室一
                          //-         option(value='教室二') 教室二
                          //-         option(value='教室三') 教室三
                          //-         option(value='教室四') 教室四
                          //-         option(value='教室五') 教室五
                          //- 
                          //-     th 時段
                          //-     th
                          //-       select#filterTimeZone.form-control
                          //-         option(value='請選擇') 請選擇
                          //-         option(value='A1') A1 (09:15 ~ 11:45)
                          //-         option(value='A2') A2 (11:45 ~ 13:15)
                          //-         option(value='P1') P1 (13:15 ~ 15:45)
                          //-         option(value='P2') P2 (16:00 ~ 18:00)
                          //-         option(value='P3') P3 (19:00 ~ 21:30)
                          //-   tr(style='border:0px;')
                          //-     th(colspan='6')
                          //-       button#cancelFilter.btn.btn-default.btn-embossed(type='button') 清除
                          //-       button#btnFilter.btn.btn-primary.btn-embossed(type='button') 查詢
                          //-       
                          table#lesson.table.table-condensed
                            thead
                              tr
                                th(width='5%') #
                                th(width='15%', style='border-left:1px #ddd solid;') 課程名稱
                                th(width='10%', style='border-left:1px #ddd solid;') 使用教室
                                th(width='10%', style='border-left:1px #ddd solid;') 上課人數
                                th(width='15%', style='border-left:1px #ddd solid;') 時間 - 時段
                                th(width='10%', style='border-left:1px #ddd solid;') 聯絡人
                                th(width='15%', style='border-left:1px #ddd solid;') 聯絡電話
                                th(width='20%', style='border-left:1px #ddd solid;') 操作
                            tbody
                            tr#lessonloadingList(align='center')
                              td(colspan='8')
                                br
                                span
                                  i.fa.fa-spinner.fa-pulse.fa-3x
                                  br
                                  | 資料讀取中...
                                
                            //- tr#lessonnobodyList(align='center')
                            //-   td(colspan='8')
                            //-     br
                            //-     span(style='cursor:pointer;')
                            //-       i.fa.fa-exclamation.fa-3x
                            //-       | 查無資料
                                  
                                  
                  
          
          //- 課程聯絡
          div.tab-pane.fade.row#lessonIDManage
            .col-lg-12
              .form-group
                .row
                  .col-md-12
                    div(style='margin: 20px 20px 20px 20px;overflow-y:scroll;overflow-x:hidden;')
                      .row
                        .col-md-12(style='height:500px;')
                          table#lessonID.table.table-condensed
                            thead
                              tr
                                th(width='5%') #
                                th(width='10%', style='border-left:1px #ddd solid;') 上傳者
                                th(width='12%', style='border-left:1px #ddd solid;') 課程名稱
                                th(width='13%', style='border-left:1px #ddd solid;') 
                                  | 課程簡稱 
                                  br
                                  | (代號)
                                th(width='20%', style='border-left:1px #ddd solid;') 新增時間
                                th(width='20%', style='border-left:1px #ddd solid;') 修改時間
                                th(width='20%', style='border-left:1px #ddd solid;') 詳細資料
                            tbody
                            tr(align='center')
                              td(colspan='7')
                                br
                                span#new(style='cursor:pointer;')
                                  i.fa.fa-plus-circle.fa-3x
                                  br
                                  | 新增課程編號
                            tr#lessonIDloadingList(align='center')
                              td(colspan='7')
                                br
                                span
                                  i.fa.fa-spinner.fa-pulse
                                  br
                                  br
                                  | 資料讀取中...
                                
                            //- tr#lessonIDnobodyList(align='center')
                            //-   td(colspan='7')
                            //-     br
                            //-     span(style='cursor:pointer;')
                            //-       i.fa.fa-exclamation.fa-3x
                            //-       br
                            //-       | 查無資料
            
        
        //- #lessonDetail.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        //-   .modal-dialog.modal-lg
        //-     .modal-content
        //-       .modal-header
        //-         button.close(type='button', data-dismiss='modal', aria-hidden='true')
        //-           i.icons-office-52
        //-         h4.modal-title
        //-           strong#detailName
        //-       .modal-body
        //-         table.table.table-hover
        //-           tr
        //-             th #
        //-             th 課程名稱
        //-             th 課程時數
        //-             th 使用教室
        //-             th 上課時段
        //-             th 備註
        //-             th
        //-           tbody#detailData
    // 彈跳視窗 編輯課程細節
    #bounce_editlesson.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header.bg-blue
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              i.fa.fa-times-circle(style='font-size:20px;color:white;')
            font(style='font-size:18px;font-weight:bold;') 編輯課程細節
          .modal-body(align='left', style='height:520px;overflow-y:scroll;')
            .form-group
              .row
                .col-md-12
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group
                        | 課程名稱:
                      .col-md-12.form-group.form_name.form(style='text-align:center;')
                        b(style='font-size:30px;')
                          span#lessonName
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_class.form
                        | 使用教室
                        font#lockTip
                        select#lessonBuilding.form-control
                        select#lessonFloor.form-control
                        select#lessonClass.form-control
                      .col-md-6.form-group.form_time.form
                        | 上課時間
                        input#lessonTime.date-picker.form-control(type='text', placeholder='開始時間')
                      .col-md-6.form-group.form_period.form
                        | 上課時段
                        br
                        select#lessonPeriod.form-control(name='lessonPeriod')
                          option(value='請選擇', selected="selected") 請選擇
                          option(value='A1') A1 (09:15 ~ 11:45)
                          option(value='A2') A2 (11:45 ~ 13:15)
                          option(value='P1') P1 (13:15 ~ 15:45)
                          option(value='P2') P2 (16:00 ~ 18:00)
                          option(value='P3') P3 (19:00 ~ 21:30)
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_lessondetailName.form
                        | 聯絡人姓名(單位):
                        input#lessondetailName.form-control(type='text', placeholder='請填入聯絡人姓名',disabled='disabled')
                      .col-md-6.form-group.form_lessondetailPhone.form
                        | 聯絡人電話
                        input#lessondetailPhone.form-control(type='text', placeholder='請填入聯絡人電話',disabled='disabled')
                                
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group.form_people.form
                        | 上課人數
                        input#lessonPeople.form-control(type='text', placeholder='請填入上課人數')
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group.form_note.form
                        i.fa.fa-comments(aria-hidden='true', style='font-size:20px;')
                        | 備註:
                        textarea#lessonNote.form-control(rows='4', placeholder='您想說甚麼...')
          .modal-footer
            input#btnEditSubmitlesson.btn.btn-primary.btn-embossed(type='button', value='確定')
            button#btnEditCancellesson.btn.btn-default.btn-embossed 取消
    
    // 彈跳視窗 新增課程ID
    #bounce_new.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true', style='overflow-y: hidden')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              i.fa.fa-times-circle(style='font-size:20px;')
            font(style='font-size:18px;font-weight:bold;') 新增課程ID
          .modal-body(align='left', style='height:300px;overflow-y:hidden;')
            .form-group
              .row
                .col-md-12
                  div(style='margin:0 0 20px 0;')
                    .form-group.form_lessonName
                      i.fa.fa-child(style='font-size:20px;')
                      | 課程名稱:
                      input#lessonIDName.form-control(type='text', placeholder='請填入課程名稱', name='lessonNameID')
                  div(style='margin:0 0 20px 0;')
                    .form-group.form_abbreviation
                      | 課程代號(簡稱):
                      input#lessonIDAbbreviation.form-control(type='text', placeholder='請輸入中文或英文代號(簡稱), 如果多個代號請使用半形空格(一格)隔開', name='lessonAbbreviation')
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_contractName
                        i.fa.fa-user(aria-hidden='true', style='font-size:20px;')
                        | 聯絡人姓名(單位):
                        input#lessonIDContractName.form-control(type='text', placeholder='請填入聯絡人姓名')
                      .col-md-6.form-group.form_telephone
                        i.fa.fa-phone(aria-hidden='true', style='font-size:20px;')
                        | 聯絡人電話:
                        input#lessonIDContractPhone.form-control(type='text', placeholder='請填入聯絡人電話')
          .modal-footer
            input#btnSubmitID.btn.btn-primary.btn-embossed(type='button', value='確定')
            button#btnCancelID.btn.btn-default.btn-embossed 取消
    // 彈跳視窗 編輯課程ID
    #bounce_edit.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true')
              i.fa.fa-times-circle(style='font-size:20px;')
            font(style='font-size:18px;font-weight:bold;') 編輯課程ID
          .modal-body(align='left', style='height:350px;overflow-y:auto;')
            .form-group
              .row
                .col-md-12
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group
                        | 課程名稱:
                      .col-md-12.form-group.form_name.form(style='text-align:center;')
                        b(style='font-size:30px;')
                          span#EditlessonIDName
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-12.form-group.form
                        | 課程簡稱:
                        input#EditlessonIDabbreviation.form-control(type='text', placeholder='請填入課程簡稱')
                    
                  div(style='margin:0 0 20px 0;')
                    .row
                      .col-md-6.form-group.form_editName
                        i.fa.fa-user(aria-hidden='true', style='font-size:20px;')
                        | 聯絡人姓名(單位):
                        input#EditContractName.form-control(type='text', placeholder='請填入聯絡人姓名')
                      .col-md-6.form-group.form_editPhone
                        i.fa.fa-phone(aria-hidden='true', style='font-size:20px;')
                        | 聯絡人電話:
                        input#EditContractPhone.form-control(type='text', placeholder='請填入聯絡人電話')
          .modal-footer
            input#btnEditSubmit.btn.btn-primary.btn-embossed(type='button', value='確定')
            button#btnEditCancel.btn.btn-default.btn-embossed 取消
    input#hiddenPositionData(type='hidden', value='')
    
