doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/page_css/loading.css')
    script(src='javascripts/jquery.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/page_js/loading.js')
  body
    #main
      .windows8
        #wBall_1.wBall
          .wInnerBall
        #wBall_2.wBall
          .wInnerBall
        #wBall_3.wBall
          .wInnerBall
        #wBall_4.wBall
          .wInnerBall
        #wBall_5.wBall
          .wInnerBall
      br
      p
        b 跳轉中，請稍後...
