extends layout

block main
    link(rel='stylesheet', href='stylesheets/page_css/searchLesson.css')
    //- link(rel='stylesheet', href='stylesheets/customized.css')
    //時間
    script(src='javascripts/jquery-ui.js')
    script(src='javascripts/jquery-ui.cache.js')
    script(src='javascripts/plugins.js')
    
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css')
    link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css')
    script(src='javascripts/jquery.dataTables.js')  
    script(src='javascripts/dataTables.buttons.min.js')  
    script(src='javascripts/buttons.flash.min.js')  
    script(src='javascripts/jszip.min.js')  
    
    script(src='javascripts/page_js/searchLesson.js')  
    

    div    
      #manager_center.panel(style='border:2px solid black;')
        .row
          .col-lg-12
            .form-group
              .row
                .col-md-12
                  div(style='text-align: center;')   
                    h3
                      i.fa.fa-search                   
                      strong(style='margin-left:5px;') 課程查詢
                    br
                  table.table.table-condensed
                    tr
                      th(width='10%') 時段
                      th(width='25%')
                        select#filterTimeZone.form-control
                          option(value='請選擇') 請選擇
                          option(value='A1') A1 (09:15 ~ 11:45)
                          option(value='A2') A2 (11:45 ~ 13:15)
                          option(value='P1') P1 (13:15 ~ 15:45)
                          option(value='P2') P2 (16:00 ~ 18:00)
                          option(value='P3') P3 (19:00 ~ 21:30)
                      th(width='10%') 地點
                      th(width='25%')
                        select#filterLocation.form-control
                          option(value='請選擇') 請選擇
                
                      th(width='10%') 空教室
                      th(width='20%')
                        label.filterEmptyClass(style='font-size:18px;cursor:pointer;')
                          input#filterEmptyClass(type='checkbox')
                    tr
                      th(width='10%') 課程時間
                      th(width='20%') 
                        input#filterTimeStart.date-picker.form-control(type='text', placeholder='請選擇開始時間')
                        input#filterTimeDue.date-picker.form-control(type='text', placeholder='請選擇結束時間')
                          
                      th(width='15%') 課程
                      th(width='25%')
                        input#filterLesson.form-control(type='text',disabled='disabled')
                      th(width='5%')
                      th(width='5%')
                        
                    tr(style='border:0px;')
                      th(colspan='8')
                        button#cancelFilter.btn.btn-default.btn-embossed(type='button') 清除
                        button#btnFilter.btn.btn-primary.btn-embossed(type='button') 查詢

                  .col-md-12
                    div(style='margin: 20px 20px 20px 20px;overflow-y:scroll;overflow-x:hidden;')
                      .row
                        .col-md-12(style='height:650px;')
                           table.table.table-condensed#GenerateTable
                            tbody#lessonList
                              tr
                                th(width='5%') #
                                th(width='15%', style='border-left:1px #ddd solid;') 課程名稱
                                th(width='10%', style='border-left:1px #ddd solid;') 使用教室
                                th(width='10%', style='border-left:1px #ddd solid;') 上課人數
                                th(width='15%', style='border-left:1px #ddd solid;') 時間 - 時段
                                th(width='10%', style='border-left:1px #ddd solid;') 聯絡人
                                th(width='15%', style='border-left:1px #ddd solid;') 聯絡電話
                                th(width='20%', style='border-left:1px #ddd solid;') 詳細資料
                              tbody#lessonSearchList
                            tbody#emptyList
                              tr
                                th(width='10%') #
                                th(width='22.5%', style='border-left:1px #ddd solid;') 日期
                                th(width='22.5%', style='border-left:1px #ddd solid;') 教室
                                th(width='22.5%', style='border-left:1px #ddd solid;') 時段
                                th(width='22.5%', style='border-left:1px #ddd solid;') 上鎖
                              tbody#emptySearchList
                            tbody
                              tr#lessonloadingList(align='center')
                                td(colspan='8')
                                  br
                                  span
                                    i.fa.fa-spinner.fa-pulse.fa-3x
                                    br
                                    br
                                    | 資料讀取中...
                              tr#nobodyList(align='center')
                                td(colspan='8')
                                  br
                                  span#new(style='cursor:pointer;')
                                    i.fa.fa-exclamation.fa-3x
                                    br
                                    | 查無資料
                                    
                          
                          
                          
                          
                          
                          
