doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='stylesheets/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/page_css/sign.css')
    script(src='javascripts/jquery.js')
    script(src='javascripts/layer/layer.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/page_js/sign.js')
    title 註冊
  body
    #main.well.well-lg(align='center')
      #title
        b#index(title='Copyright © 2016 福智 All rights reserved')
          a(href='/')
            img(src='images/open-book.png')
            |  福智基金會
      br
      hr
      if sign
        p
          font(color='red')= sign
      form(action='/sign', method='post')
        table
          tr
            th
              b(style='color:red;') *
              | 姓名
            th      
            th
              b(style='color:red;') *
              | 帳號
            th      
            th
              b(style='color:red;') *
              | 密碼
          tr
            td
              input.form-control(type='text', placeholder='請輸入您的姓名', name='name', required='')
            th
            td
              input.form-control(type='text', placeholder='請輸入您的帳號', name='account', required='')
            th
            td
              input.form-control(type='password', placeholder='請輸入您的密碼', name='password', required='')
          tr
            td  
          tr
            th E-mail
            th
            th 電話
            th
            th 性別
          tr
            td
              input.form-control(type='text', placeholder='請輸入您的信箱', name='email', required='')
            th
            td
              input.form-control(type='text', placeholder='請輸入您的電話', name='telphone', required='')
            th
            td
              label
                input(type='radio', placeholder='請輸入帳號', name='sex', required='', value='boy')
                | 男
              label
                input(type='radio', placeholder='請輸入帳號', name='sex', required='', value='girl')
                | 女
          tr
            td  
          tr
            th 身分證
            th
            th 生日
          tr
            td
              input.form-control(type='text', placeholder='請輸入您的身分證', name='identity', required='')
            th
            td
              input.form-control(type='date', placeholder='請輸入您的生日', name='birthday', required='')
          tr
            td  
          tr
            th(colspan='4') 地址
          tr
            td(colspan='4')
              input.form-control(type='text', style='width:395px;', placeholder='請輸入您的地址', name='address', required='')
          tr
            td  
          tr
            th#checkTip
              b(style='color:red;') *
              | 驗證碼 
              label.check1
              label.check2
              label.check3
              label.check4
              input#currentNum(type='hidden', value='0000')
            td
            td
              .check_img(style='float:left;')
              img.reload(src='images/reload.png', style='cursor:pointer;', title='重新產生')
        input.btn.btn-default(type='reset', style='float:right;margin-right:20px;', value='重新填寫')
        input.btn.btn-primary(type='submit', style='float:right;margin-right:20px;', value='送出')
    // 彈出視窗
