extends layout

block main
    link(rel='stylesheet', href='stylesheets/page_css/userManage.css')
    link(rel='stylesheet', href='stylesheets/customized.css')
      
    script(src='javascripts/page_js/userManage.js')  

    div    
      #manager_center.panel(style='border:2px solid black;')
        .row
          .col-lg-12
            .form-group
              .row
                .col-md-12
                  div(style='text-align: center;')   
                    h3
                      i.fa.fa-users                            
                      strong(style='margin-left:5px;') 使用者管理
                    br
                  table.table.table-bordered
                    tr
                      th 姓名
                      th
                        input#filterName.form-control(type='text')
                      th 帳號
                      th
                        input#filterAccount.form-control(type='text')
                
                      th 權限
                      th
                        select#filterAuthority.form-control
                          option(value='請選擇') 請選擇
                          option(value='Admin') 最高管理者
                          option(value='Owner') 一般管理員
                          option(value='User') 會員
                    tr(style='border:0px;')
                      th(colspan='6')
                        button#cancelFilter.btn.btn-default(type='button') 清除
                        button#btnFilter.btn.btn-primary(type='button') 查詢

                #lessonForm.col-md-12(style='height:500px;')
                  table.table.table-condensed
                    tr
                      th(width='4%') #
                      th(width='16%', style='border-left:1px #ddd solid;') 姓名 
                      th(width='16%', style='border-left:1px #ddd solid;') 帳號
                      th(width='24%', style='border-left:1px #ddd solid;') E-mail
                      th(width='16%', style='border-left:1px #ddd solid;') 權限
                      th(width='24%', style='border-left:1px #ddd solid;') 操作    
                    tbody#userList
                    
                        
                        
    
