/*#manager_center{
	border:2px solid black;
	border-radius:15px;
	height:100%;
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
	overflow:hidden;
}
#manager_top
{
	font-size: 30px;
	border:2px solid black;
	border-radius: 10px;
	width: 80%;
	margin-left: 10%;
	margin-top: 5%;
	overflow:hidden;
}*/
